<app-card title="Create User Form" subtitle="create new user form">
    <form [formGroup]="userForm">
        <div class="row"> <!-- appearance="outline" -->
            <div class="col-md-6">
                <mat-form-field   class="w-100 example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" placeholder="Name">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field   class="w-100 example-full-width">
                    <mat-label>Department</mat-label>
                    <input matInput formControlName="department" placeholder="Department">
                </mat-form-field>
            </div>
        </div>
        <div class="row"> <!-- appearance="outline" -->
            
            <div class="col-md-6">
                <mat-form-field   class="w-100 example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Email">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field   class="w-100 example-full-width">
                    <mat-label>Location</mat-label>
                    <input matInput formControlName="location" placeholder="Location">
                </mat-form-field>
            </div>
        </div>
    </form>

    <hr>
    <button mat-raised-button color="primary" [disabled]="userForm.invalid" (click)="onSave()">Save</button>
</app-card>