<div class="container mt-5 ">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card card-body">
                <h2 class="text-center">Login Form</h2>
                <hr>
                <!-- form content    -->
                <p>
                    <mat-form-field appearance="outline" class="w-100 example-full-width">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Username">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" class="w-100 example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password">
                    </mat-form-field>
                </p>
                <!-- ./form content    -->
                <button mat-raised-button color="primary" (click)="onLogin()"><mat-icon>login</mat-icon> Login</button>
            </div>
        </div>
    </div>
</div>